@tailwind base;
@tailwind components;
@tailwind utilities;

.skib {
    display: flex;
    flex-direction: column;
    padding-top: 40px; /* Changed from margin-top to padding-top */
    align-items: center;
}

.skib > h1 {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    color: white;
    outline: none;
    text-align: center;
}

.skib > h1:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 10px;
}

.skib > a:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}
